<main class="center">
  <div>
    <form (ngSubmit)="submit()" class="weather-form">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>City name</mat-label>
        <input matInput type="text" [formControl]="cityName" />
        <button
          *ngIf="cityName.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
        ></button>
        <button (click)="submit()" type="submit" matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div>
    <app-weather-card [data]="weatherData$ | async"></app-weather-card>
  </div>

  <div class="saved-weather-data">
    <div class="mat-h2">Прошлые поиски:</div>
    <app-weather-list
      [weatherData]="(weatherService.savedWeather$ | async)!"
    ></app-weather-list>
  </div>
</main>
