
.center 
  margin: auto
  width: 500px
  padding: 10px

.weather-form
    margin: auto
    width: 300px

.saved-weather-data
    margin-top: 12px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column