<mat-card *ngIf="dataProp" class="weather-card">
  <div class="image-container">
    <img
      mat-card-image
      src="../../../../assets/weather.jpg"
      alt="Photo of a Shiba Inu"
    />
    <div class="city-weater">
      <div class="city-weater__city">{{ dataProp.city }}</div>
      <div class="city-weater__temp">
        {{ dataProp.temp | number : "1.0-0" }}°C
      </div>
    </div>
  </div>

  <mat-card-content class="weather-other-data">
    <div>Max temp: {{ dataProp.temp_max }}</div>
    <div>Min temp: {{ dataProp.temp_min }}</div>
    <div>Humidity: {{ dataProp.humidity }}</div>
  </mat-card-content>
</mat-card>
