<cdk-virtual-scroll-viewport
  appendOnly
  itemSize="3"
  class="weather-list-viewport"
>
  <div *cdkVirtualFor="let item of weatherDataProp" class="example-item">
    <mat-card
      (click)="cardClickEvent.emit(item)"
      class="weather-card clickable"
    >
      <mat-card-title-group>
        <mat-card-title>{{ item.city }}</mat-card-title>
        <!-- <mat-card-subtitle>TODO DATE</mat-card-subtitle> -->
      </mat-card-title-group>
      <mat-card-content>
        <span> humidity: {{ item.humidity }}</span>
        <span>temp: {{ item.temp }}</span>
        <span>temp_max: {{ item.temp_max }}</span>
        <span>temp_min: {{ item.temp_min }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>
